<div>
	<% if current_user.nil? %>
		<h1> Please <%= link_to "sign up", sign_up_path %> to access this feature. We need experts like you! </h1>
	<% else %>
		<h1><%= current_user.profile_name %>'s bucket</h1>
	<% end %>
</div>

<div>
	<% if user_signed_in? %>
		<div class="button tiny columns"><%= link_to "Edit profile", edit_user_registration_path, {:style=>'color:#FFF;'} %></div>
	<% else %>
	<ul>
		<li><%= link_to "Sign Up", new_user_registration_path %></li>
		<li><%= link_to "Log In", new_user_session_path %></li>
	</ul>
	<% end %> 
</div>



<div>

	<% if @user.fish %>

	<h3>Fish Caught:</h3>
<table>
  <thead>
    <tr>
      <th width="30%">Fish Type</th>
      <th width="20%">Stats</th>
      <th width="10%">TimeStamp</th>
      <th width="20%">Settings</th>
    </tr>
  </thead>


	<% @user.fish.each do |fish| %>

	<tr>
      <td><strong><%= fish.fish_type %></strong></td>
      <td>
        <ul>
          <li><%= fish.length %> inches</li>
          <li><%= fish.weight %> pounds</li>
       </td>
      <td><%= link_to time_ago_in_words(fish.created_at), fish_path(fish) %> ago</td>
      
        </ul>
      </td>

      <td><%= link_to 'Edit', edit_fish_path(@fish) %> |
<%= link_to 'Back', fish_index_path %></td>
    
	 	
	 		
	 		
	
	
	<% end %>
	<% else %>
	<p> You haven't caught any fish. How sad. You should go catch some fish. </p>
<% end %>
</div>

