<!DOCTYPE html>
<html>
<head>
  <title>FishyFishy</title>
  <!-- Default sheets links -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= csrf_meta_tags %> 
</head>
<body>
	<div class="nav navbar-inverse navbar-fixed-top">
		<!--<div class="navbar-inner">
			<div class="container"> -->
				<ul class="nav">
					<li class="brand" id="whiteMainTitle"><%= link_to "Shooting Fish in a Barrel", root_path %></div>
				<!--</ul>
				<ul class="nav pull-right"> -->
					<% if user_signed_in? %>
						<li class="navMakeSmaller"> <%= link_to current_user.profile_name, user_profile_path(current_user) %></li>
						<li class="navMakeSmaller"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li class="navMakeSmaller"><%= link_to "Sign Up", new_user_registration_path %></li>
						<li class="navMakeSmaller"><%= link_to "Log In", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
		<%= yield %>

	</div>
</body>
</html>
