

<div>
  <h1>Every Fish Caught By Everyone Ever</h1>
</div>
<div class="button success large right radius columns">
  <%= link_to "Caught a new fish!", new_fish_path, {:style=>'color:#FFF;'}  %>
</div>


<%= image_tag("hardcoded_map.png", :alt => "show where fish were caught") %>

<table>
  <thead>
    <tr>
      <th width="20%">Fish Image</th>
      <th width="10%">Map</th>
      <th width="30%">Stats</th>
      <th width="20%">Fisher</th>
      <th width="50%">TimeStamp</th>
    </tr>
  </thead>

  <tbody>
<% @fish.each do |fish| %>
      
      <tr>
      <td>Fish image</td>
      <td>Map Marker</td>
      <td>
        <ul>
          <li><strong><%= fish.fish_type %></strong></li>
          <li><%= fish.length %> inches</li>
          <li><%= fish.weight %> pounds</li>
        </ul>
      </td>
    
      <td>
        <ul>
          <li>
            <strong>
              <%= link_to fish.user.profile_name, user_profile_path(fish.user) %>
            </strong>
          </li>
        </ul>
      </td>

      <td>
        <ul>
          <li>
            <%= link_to time_ago_in_words(fish.created_at) + " ago", fish %>
          </li>
        
          <!-- DO WE NEED SHOW EDIT DELETE ON A FEED? -->
          <!-- <li>
            <span class="admin">
              <% if signed_in? && current_user == fish.user %>
                <%= link_to 'Show', fish %>
                <%= link_to 'Edit', edit_fish_path(fish) %>
                <%= link_to 'Delete', fish, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </span>
          </li> -->

        </ul>
      </td>

</table>
        
      
      
        <!-- <div>
          <p><%= link_to time_ago_in_words(fish.created_at) + " ago", fish %>
            <span class="admin">
              <% if signed_in? && current_user == fish.user %>
                <%= link_to 'Show', fish %>
                <%= link_to 'Edit', edit_fish_path(fish) %>
                <%= link_to 'Delete', fish, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </span>
          </div>
      </div> -->
  </div>
<% end %>
