<div>
  <h1>Every Fish Caught By Everyone Ever</h1>
</div>
<%= link_to "Caught a new fish!", new_fish_path %>

<% @fish.each do |fish| %>
  <div>
    <div>
      <!-- JS geolocation map all fish -->
    </div>
    <div><!-- intent to span 1-->
      Fish image
    </div>
    <div><!-- intent to span 7-->
      <strong><%= fish.user.profile_name %></strong> caught a
      <%= fish.fish_type %>
        <div>
          <p><%= link_to time_ago_in_words(fish.created_at) + " ago", fish %>
            <span class="admin">
              <%= link_to 'Show', fish %>
              <%= link_to 'Edit', edit_fish_path(fish) %>
              <%= link_to 'Destroy', fish, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </div>
      </div>
  </div>
<% end %>
