<div class="page-header">
	<h1><%= current_user.profile_name %>'s bucket</h1>
</div>

<p id="notice"><%= notice %></p>

<ul class="nav pull-right">
	<% if user_signed_in? %>
		<li><%= link_to "Edit profile", edit_user_registration_path %></li>
	<% else %>
		<li><%= link_to "Sign Up", new_user_registration_path %></li>
		<li><%= link_to "Log In", new_user_session_path %></li>
	<% end %> 
</ul>
<br />

	<h2>Fish caught:</h2>
	<!-- code to call in fish
	<%# if fish %>
	 <%# fish.each do |fish| %>
	 	<div class="well">
	 		<%#= fish %>
	 		<br />
	 		<%#= link_to time_ago_in_words(fish.created_at), fish_path(fish) %> ago
	 	</div>
	 <%# end %>
	 <%# else %>
	 <p> Yo. Catch some fish. </p>
	<%# end %>  

<%#= link_to 'Edit', edit_fish_path(fish) %> |
<%#= link_to 'Back', fish_index_path %>

Need to set up fish id show method first -->




